extends ./layout

block title
  title Mr.Mouton

block content
  .bg
    .center
      .card.twitter
        img(src='https://pbs.twimg.com/profile_images/905887978299330560/wUmb05oR_400x400.jpg', alt='Avatar', style='width:100%')
        .content
          i.fa.fa-twitter(aria-hidden='true')
          h4
            b TWITTER
          p new cool memmemee meme my new meme is so meme you won&apos;t even believe my 280 character tweets haHAA!
      .card.reddit
        .content
          i.fa.fa-twitter(aria-hidden='true')
          h4
            b REDDIT
          p new cool memmemee meme my new meme is so meme you won&apos;t even believe my 280 character tweets haHAA!
      .card.twitch
        .content
          i.fa.fa-twitter(aria-hidden='true')
          h4
            b TWITCH
          p new cool memmemee meme my new meme is so meme you won&apos;t even believe my 280 character tweets haHAA!